<ion-view title="AWNotepad Inicia sesión">
    <ion-content>
        <div class="list">
            <label class="item item-input">
                <input type="text" placeholder="Email">
            </label>
            <label class="item item-input">
                <input type="password" placeholder="PAssword">
            </label>

            <label class="item">
                <button class="button button-block button-positive">
                    Inicio de sesión
                </button>

            </label>
            <label class="item">
                <button class="button button-block button-positive">
                    Nueva cuenta
                </button>

            </label>
        </div>

    </ion-content>

</ion-view>