<ion-view title="AWNotepad Nueva cuenta">
    <ion-content>
        <div class="list">

            <label class="item item-input">
                <input type="text" placeholder="Nombre">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Apellidos">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Email">
            </label>
            <label class="item item-input">
                <input type="password" placeholder="Password">
            </label>
+           <label class="item">
                <button class="button button-block button-positive">
                    Nueva cuenta
                </button>

            </label>
        </div>

    </ion-content>

</ion-view>